/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require font-awesome
 */

.main{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.top{
    background: white;
    border-radius: 25px;

}
.top h3{
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
}
.top a{
    margin-top: 10px;
    color:white;
}
.left{
    margin: 10px;
    background: whitesmoke;
    min-height: 500px;
    height: 100%;
    border-radius: 25px;
}
.left h5{
    margin-top: 10px;
    text-align: center;
    font-family: 'Audiowide', cursive;
}
.left ul{
    list-style: none;
    text-align: center;
}
.right{
    margin: 10px;
    background: whitesmoke;
    height: 100%;
    border-radius: 25px;
    padding: 0 10%;
    text-align: center;
}
.senses{
    background: orangered;
    color: ghostwhite;
    font-family: 'Playfair Display SC', serif;
    border-radius: 10px;
    padding: 5px;
}

.right h5{
    margin-top: 10px;
    text-align: center;
    font-family: 'Audiowide', cursive;
}
.right h3{

    text-align: center;
    font-family: 'Audiowide', cursive;
}
.right .inline-list{
    margin: 0 15%;
}